<div class="page">
    <header class="header">
        <h1 class="fw-bold">Character</h1>
        <button mat-stroked-button (click)="navigateToHome()">Back</button>
    </header>

    <div class="row animate__animated animate__bounce animate__fadeIn">

        <app-spinner [isVisible]="!person"></app-spinner>

        <section *ngIf="person" class="animate__animated animate__bounce animate__fadeIn">
            <header class="d-flex justify-content-around align-items-center mb-5">
                <h2 class="fw-bold text-xl-left">{{ person.name }}</h2>
                <img src="https://robohash.org/api/robot/{{id}}" alt="Character image"
                    style="height: 150px; object-fit: scale-down;">
            </header>

            <div class="d-flex justify-content-center">
                <button mat-raised-button color="primary" (click)="toogleDetailsView()">
                    {{areDetailsVisible ? "Show less details" : "Show more details"}}
                </button>
            </div>

            <div class="details" *ngIf="areDetailsVisible">
                <h3 class="fw-bold">Information</h3>
                <mat-list>
                    <mat-list-item>
                        <p class="item"><small><i>Id:</i></small> {{id}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <p class="item"><small><i>Birth Year:</i></small> {{person.birth_year}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <p class="item"><small><i>Gender:</i></small> {{person.gender}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <p class="item"><small><i>Mass:</i></small> {{person.mass}}</p>
                    </mat-list-item>
                </mat-list>

                <h3 class="fw-bold mt-3">Films</h3>
                <mat-progress-bar mode="indeterminate" *ngIf="films.length === 0"></mat-progress-bar>
                <mat-tab-group animationDuration="0ms" *ngIf="films.length > 0">
                    <mat-tab *ngFor="let film of films" label="{{film.title}}">
                        <mat-list>
                            <mat-list-item>
                                <p>
                                    <small>Episode number:</small>&nbsp;&nbsp;
                                    <span class="fw-bold">{{film.episode_id}}</span>
                                </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p>
                                    <small>Directior:</small>&nbsp;&nbsp;
                                    <span class="fw-bold">{{film.director}}</span>
                                </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p>
                                    <small>Producers:</small>&nbsp;&nbsp;
                                    <span class="fw-bold">{{film.producer}}</span>
                                </p>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </section>
    </div>
</div>