.page {
    max-width: 1000px;
    margin-inline: auto;
    padding: 30px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    height: fit-content;
}

.item {
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    width: 100%;
    padding: 5px 10px;
}