.page {
    max-width: 1200px;
    margin-inline: auto;
    padding: 30px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    height: fit-content;
}